:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --background-work: rgba(47, 48, 58, 0.80);
  --web: #2196F3;
  --head-studio: #000;
  --hover-color: #2196F3;
  --after-hover-color: #2a71af;
  --head-nav: #212121;
  --head-contacts: #757575;
  --header-border: #ECECEC;
  --icon-bg: #AFB1B8;
  --white-color: #fff;
  --button: #2196F3;
  --bacraund-color: #2F303A;
  --main-titles: #212121;
  --text-color: #757575;
  --bottom-section-bg: #F5F4FA;
  --border-color-portfolio: #eee;
  --foot-studio: #ffffff;
  --foot-adress: #FFFFFF;
  --bg-card: rgba(33, 150, 243, 0.90);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
}

.header__navigation {
  list-style: none;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
}

.header_nav__list {
  width: 281px;
  display: flex;
  justify-content: space-between;
}

.header_logo__wrap {
  display: flex;
  align-items: center;
}

.site-nav-link:hover {
  animation-name: changeColor;
  animation-duration: 250ms;
  animation-timing-function: var(timing-function);
  animation-fill-mode: forwards;
}

@keyframes changeColor {
  0% {
    color: #757575;
  }
  100% {
    color: #2196F3;
  }
}
.site_nav__link {
  color: #212121;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  margin-right: 93px;
  position: relative;
  transition-property: color;
}

.site_nav__link.current::after {
  content: "";
  display: block;
  background-color: #2196F3;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  left: 0;
  box-sizing: border-box;
  bottom: -32px;
}

.header__navigation {
  width: 281px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #2196F3;
  margin-right: 93px;
}

.black {
  color: #000000;
}/*# sourceMappingURL=main.css.map */