body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.navigation{
    list-style: none;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
}

.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.foto{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.mail{
    margin-right: 50px;
    color: #757575;
    
}
.logo-wrap{
    display: flex;
    align-items: center;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
    margin-right: 93px;
}
.black{
    color: #000000;
}



.work-block{
    padding-top: 94px;
    padding-bottom: 94px;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
}

.contact-icon{
    margin-right: 10px;
}

.contacts{
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    transition-property: color;
}

.contacts .contanct-link:hover{
    animation-name: changeColor;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
}

.contanct-link:hover .contact-icon{
    fill: #2196F3;
    transition-duration: 250ms;
}

.site-nav-link:hover{
    animation-name: changeColor;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;

}

@keyframes changeColor {
    0% {
        color: #757575;


    }

    100% {
        color: #2196F3;
    }
}

.contanct-link:hover{
    color: #2196F3;
}

.site-nav-link{
    color: #212121;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    margin-right: 93px;
    position: relative;
    transition-property: color;
}
.site-nav-link.current::after{
    content: '';
    display: block;
    background-color: #2196F3;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    left: 0;
    box-sizing: border-box;
    bottom: -32px;
}



.site-nav{
    width: 281px;
    display: flex;
    justify-content: space-between;
}

.contanct-link{
    color: #757575;
}

.contacts{

}

.link-portfolio{
    color: #2196F3;
}

.white{
    color: #fff;
}

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
    font-family: 'Roboto', sans-serif;
}

.white{
    color: #fff;
}

.footer-list{
    line-height: 181.429%;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.60);
}

.footer-address{
    font-size: 14px;
    font-weight: 400;
}

.footer-city{
    color: #FFF;
}

.footer-navigation{
    color: rgba(255, 255, 255, 0.60);
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
    margin-right: 93px;
}

.footer-list-icon{
    display: flex;
    justify-content: space-between;
    width: 206px;
}

.footer-link{
    fill: #FFFFFF;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.10);
}

.footer-box{
margin-left: 250px;
margin-bottom: 4px;
}

.footer-title{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    transition-property: fill background-color;
}


.footer-link:hover,
.footer-link:focus{
    fill: white;
    background-color: #2196F3;
    transition-duration: 250ms;
}

.footer-wrap{
    display: flex;
    justify-content: space-between;
}

.footer-icon{
    width: 20px;
    height: 20px;
}

.site-widget{
    display: flex;
    justify-content: center;
}

.portfolio{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px; */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis:calc((100% - 20%) / 3);
    transition-property: background-color color box-shadow; 
}

.portfolio-item:hover{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    transition-duration: 1000ms;
}

.product-trumb{
    position: relative;
    overflow: hidden;
}

.product-text{
    padding-left: 24px;
    padding-right: 24px;
}

.product-action{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-color: rgba(33, 150, 243, 0.9);
    color: white;
    width: 100%;
    padding: 63px 24px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transform: translateY(100%);
    transition: 1000ms cubic-bezier(0.8, -0.08, 0.3, 1);
}
.portfolio-item:hover .product-action{
    transform: translateY(0);
    transition-duration: 1000ms cubic-bezier(0.8, -0.08, 0.3, 1);
    opacity: 1;
}

.button-widget{
    padding: 6px 30px;
    border-radius: 4px;
    background: #F5F4FA;    
    border: none;
    padding: 6px 22px;
    transition-property: background-color color box-shadow; 
}

.button-widget:hover,
.button-widget:focus {
    transition-duration: 500ms;
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.list-widget{
    padding: 8px;
    padding-bottom: 50px;
}

.portfolio-img{
    width: 370px;
    height: 294px;
}

.portfolio-title{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
    padding: 20px 24px 0px 24px;
    
}

.portfolio-text{
color: #757575;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.48px;
padding: 0px 24px 20px 24px;
}
.subscribe {}

.input-container {
    display: flex;
}

.list-name{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #fff;
}

.input-subscribe {
    padding: 15px 250px 15px 15px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    margin-right: 12px;

}

.button-subscribe {
    border-radius: 4px;
    background-color: #2196F3;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-subscribe:hover {
    cursor: pointer;
}

.send-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: #FFFFFF;
}