body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.navigation{
    list-style: none;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
}

.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.foto{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.mail{
    margin-right: 50px;
    color: #757575;
    
}
.logo-wrap{
    display: flex;
    align-items: center;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
    margin-right: 93px;
}
.black{
    color: #000000;
}




.header-wrap{
    display: flex;
    justify-content: space-between;
}



.contacts{
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    transition-property: color;
}

.contacts .contanct-link:hover{
    animation-name: changeColor;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
}

.contanct-link:hover .contact-icon{
    fill: #2196F3;
    transition-duration: 250ms;
}

.site-nav-link:hover{
    animation-name: changeColor;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;

}

@keyframes changeColor {
    0% {
        color: #757575;


    }

    100% {
        color: #2196F3;
    }
}

.contanct-link:hover{
    color: #2196F3;
}

.site-nav-link{
    color: #212121;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    margin-right: 93px;
    position: relative;
    transition-property: color;
}
.site-nav-link.current::after{
    content: '';
    display: block;
    background-color: #2196F3;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    left: 0;
    box-sizing: border-box;
    bottom: -32px;
}



.site-nav{
    width: 281px;
    display: flex;
    justify-content: space-between;
}

.contanct-link{
    color: #757575;
}

.contacts{

}



.white{
    color: #fff;
}

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
    font-family: 'Roboto', sans-serif;
}

.white{
    color: #fff;
}

.footer-list{
    line-height: 181.429%;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.60);
}

.footer-address{
    font-size: 14px;
    font-weight: 400;
}

.footer-city{
    color: #FFF;
}

.footer-navigation{
    color: rgba(255, 255, 255, 0.60);
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
    margin-right: 93px;
}

.footer-list-icon{
    display: flex;
    justify-content: space-between;
    width: 206px;
}

.footer-link{
    fill: #FFFFFF;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.10);
}

.footer-box{
margin-left: 250px;
margin-bottom: 4px;
}

.footer-title{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    transition-property: fill background-color;
}


.footer-link:hover,
.footer-link:focus{
    fill: white;
    background-color: #2196F3;
    transition-duration: 250ms;
}

.footer-wrap{
    display: flex;
    justify-content: space-between;
}

.footer-icon{
    width: 20px;
    height: 20px;
}




.subscribe {}

.input-container {
    display: flex;
}

.list-name{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #fff;
}

.input-subscribe {
    padding: 15px 250px 15px 15px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    margin-right: 12px;

}

.button-subscribe {
    border-radius: 4px;
    background-color: #2196F3;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-subscribe:hover {
    cursor: pointer;
}

.send-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: #FFFFFF;
}