.header{
    padding-top: 24px;
    padding-bottom: 25px;
    
}

.header_contanct__link{
    color: #757575;
    display: flex;
    align-items: center;
}

.header__wrap{
    @include flex();
}

.header__navigation{
    list-style: none;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
}

.header_nav__list{
    width: 281px;
    @include flex();
}

.header_logo__wrap{
    display: flex;
    align-items: center;
    
}

// .header_nav__item{
//     animation-name: changeColor;
//     animation-duration: 250ms;
//     animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     animation-fill-mode: forwards;

// }

// @keyframes changeColor {
//     0% {
//         color: #757575;


//     }

//     100% {
//         color: #2196F3;
//     }
// }


.site_nav__link{
    color: #212121;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    margin-right: 93px;
    position: relative;
    transition-property: color;
}
.site_nav__link.current::after{
    content: '';
    display: block;
    background-color: #2196F3;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    left: 0;
    box-sizing: border-box;
    bottom: -32px;

}

.header__navigation{
    list-style: none;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
}

.header_nav__list{
    width: 281px;
    @include flex();
}


.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
    margin-right: 93px;
}

.black{
    color: #000000;
}

.header__contacts-list{
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    transition-property: color;
}

.header_nav__list{
    width: 281px;
    @include flex();
}

.contact-icon{
    margin-right: 10px;
}

.header__contacts-list .contanct-link:hover{
    animation-name: changeColor;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
}

.header_contanct__link:hover .contact-icon{
    fill: #2196F3;
    transition-duration: 250ms;
}


.header__email{
    margin-right: 50px;
    color: #757575;
    
}
.site_nav__link:hover{
    color: #2196F3;
}

