.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .widget__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    gap: 8px;
  }
  
  .widget__item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
  
  .button__widget {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    color: #212121;
    padding: 6px 22px;
    font-size: 16px;
    line-height: 162.5%;
    letter-spacing: 0.48px;
    cursor: pointer;
  }
  
  .button__widget:hover,
  .button__widget:focus {
    background-color: #2196f3;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .portfolio__list {
    gap: 30px;
    margin: 0 auto;
  }
  
  .portfolio__box {
    padding: 20px 20px;
  }
  
  .portfolio__item {
    border: 1px solid #eee;
    width: 370px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 30px;
  }
  
  .portfolio__item:hover,
  .portfolio__item:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
  
  .portfolio__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #212121;
    margin-bottom: 4px;
  }
  
  .portfolio__text {
    font-family: "Roboto", sans-serif;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
  }
  
  .product__trumb {
    position: relative;
    overflow: hidden;
  }
  
  .product__action {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.90);;
    color: #ffffff;
    width: 100%;
    padding: 77px 24px;
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
  }
  
  .portfolio__item:hover .product__action {
    opacity: 1;
    transform: translateY(0);
  }
  
  .section-main {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  @media screen and (min-width: 768px) {
    .widget__list {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
    }
  
    .portfolio__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;
    }
  
    .portfolio__box {
      padding: 20px 56px;
    }
  
    .product__action {
      padding: 49px 24px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .product__action {
      padding: 63px 24px;
    }
  
    .portfolio {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  
    .portfolio__box {
      padding: 20px 56px;
    }
  }





// .portfolio{
//     /* display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     gap: 30px; */
//     display: flex;
//     flex-wrap: wrap;
//     gap: 30px;
//     flex-basis:calc((100% - 20%) / 3);
//     transition-property: background-color color box-shadow; 
// }

// .portfolio-item:hover{
//     box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
//     transition-duration: 1000ms;
// }

// .product-trumb{
//     position: relative;
//     overflow: hidden;
// }

// .product-text{
//     padding-left: 24px;
//     padding-right: 24px;
// }

// .product-action{
//     position: absolute;
//     top: 0;
//     left: 0;
//     font-size: 18px;
//     letter-spacing: 0.03em;
//     line-height: 1.6;
//     background-color: rgba(33, 150, 243, 0.9);
//     color: white;
//     width: 100%;
//     padding: 63px 24px;
//     transform: translate(-50%, -50%);
//     opacity: 0;
//     transform: translateY(100%);
//     transition: 1000ms cubic-bezier(0.8, -0.08, 0.3, 1);
// }
// .portfolio-item:hover .product-action{
//     transform: translateY(0);
//     transition-duration: 1000ms cubic-bezier(0.8, -0.08, 0.3, 1);
//     opacity: 1;
// }

// .button-widget{
//     padding: 6px 30px;
//     border-radius: 4px;
//     background: #F5F4FA;    
//     border: none;
//     padding: 6px 22px;
//     transition-property: background-color color box-shadow; 
// }

// .button-widget:hover,
// .button-widget:focus {
//     transition-duration: 500ms;
//     background-color: #2196F3;
//     color: #FFFFFF;
//     box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
// }

// .list-widget{
//     padding: 8px;
//     padding-bottom: 50px;
// }

// .portfolio-img{
//     width: 370px;
//     height: 294px;
// }

// .portfolio-title{
//     color: #212121;
//     font-size: 18px;
//     font-weight: 700;
//     line-height: 36px;
//     letter-spacing: 1.08px;
//     padding: 20px 24px 0px 24px;
    
// }

// .portfolio-text{
// color: #757575;
// font-size: 16px;
// font-weight: 400;
// line-height: 30px;
// letter-spacing: 0.48px;
// padding: 0px 24px 20px 24px;
// }

// .work-block{
//     padding-top: 94px;
//     padding-bottom: 94px;
// }

// .contact-icon{
//     margin-right: 10px;
// }

// .link-portfolio{
//     color: #2196F3;
// }

// .site-widget{
//     display: flex;
//     justify-content: center;
// }