.team{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;;
}
.team_main__title{
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.team__list:hover{
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
}

.team__list{
    width: 270px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team__amg{
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
}

.team__site{
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
}

.team__title{
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team__text{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.social__list{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-right: 32px;
    margin-left: 32px;
}

.social-link{
    fill: #AFB1B8;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: fill background-color;
}

.social-link:hover,
.social-link:focus{
    fill: white;
    background-color: #2196F3;
    transition-duration: 250ms;
    ;
}
.social__icon{
    width: 20px;
    height: 20px;
}

