$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    
$head-studio: #000;
$hover-color: #2196F3;
$after-hover-color: #2a71af;     
$header-border: #ECECEC;    
$icon-bg: #AFB1B8;       
$bacraund-color: #2F303A;
$main-titles: #212121;
$text-color: #757575;
$bottom-section-bg: #F5F4FA;
$border-color-portfolio: #eee; 
$foot-adress: #FFFFFF;    
$bg-card: rgba(33, 150, 243, 0.90);